@model ClientIndexViewModel
@using TimeTest.Models.Clients

<div class="container main">
    <div class="row pt-1 action-link-row">
        <div class="action-links pb-2">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Create" class="btn btn-primary createbtn">Add Client</a>
            }
        </div>
        <table class="table table-hover table-bordered table-striped " id="myTable">
            <thead>
                <tr>
                    <th><h1>Name</h1></th>
                    <th><h1>Email</h1></th>
                    <th><h1>Phone</h1></th>
                    <th><h1>Address</h1></th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th><h1>Edit</h1></th>
                        <th><h1>Delete</h1></th>
                    }
                </tr>
            </thead>
            @if (!Model.Clients.Any())
            {
                <div>
                    <h1>There are no clients to display</h1>
                </div>
            }
            else
            {
                @foreach (var client in Model.Clients)
                {
                    <tbody>
                        <tr>
                            <td>@client.Name</td>
                            <td>@client.Email</td>
                            <td>@client.Phone</td>
                            <td>@client.GetBillingAddress()</td>
                            @if (User.IsInRole("Admin"))
                            {
                                <td><a asp-action="Edit" asp-route-id="@client.Id" class="btn btn-primary">Edit</a></td>
                                <td><a asp-action="Delete" asp-route-id="@client.Id" class="btn btn-danger">Delete</a></td>
                            }
                        </tr>
                    </tbody>
                }
            }
        </table>
    </div>
