@model Time
@using TimeTest.Models

<div class="container col-md-8 main-form">
    <div class="row ">
        <div class="col-md-6 text-decoration-underline">
            <h2>@Model.Date.ToString("d") Details</h2>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="col-md-6 header-buttons">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            </div>
        }
    </div>
    <div class="row pt-3">
        <div class="col-md-8">
            <h4>@Model.UserEmail for @Model.ClientName()</h4>
            <h4 class="pt-3">Hours Worked:</h4>
            <p>@Model.HoursWorked()</p>
            <h4>Task Notes:</h4>
            <p>@Model.TaskNotes</p>
        </div>
    </div>
</div>

