@model Time
@using TimeTest.Models

<div class="container col-md-8 main-form">
    <div class="row text-decoration-underline">
        <h2>@Model.Date.ToString("d") Details</h2>
    </div>
    <div class="row pt-3">
        <div class="col-md-8">
            <h4>@Model.UserEmail for @Model.ClientName()</h4>
            <h4 class="pt-3">Hours Worked:</h4>
            <p>@Model.HoursWorked()</p>
            <h4>Task Notes:</h4>
            <p>@Model.TaskNotes</p>
        </div>
    </div>
</div>

