@model TimeIndexViewModel
@using TimeTest.Models

<div class="container main">
    <div class="row pt-1 action-link-row">
        <div class="action-links pb-2">
            <a asp-action="Export" class="btn btn-dark exportbtn" style="width:fit-content"><span style="text-align:center">Export to CSV</span></a>
            <a asp-action="Create" class="btn btn-primary createbtn">Add Time</a>
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="List" class="btn btn-primary listbtn">View All Times</a>
            }
        </div>
        
        <table class="table table-hover table-bordered table-striped " id="myTable">
            <thead>
                <tr>
                    <th><h1>User</h1></th>
                    <th><h1>Clock In</h1></th>
                    <th><h1>Clock Out</h1></th>
                    <th><h1>Date</h1></th>
                    <th><h1>Time Worked</h1></th>
                    @if (User.IsInRole("Admin"))
                    {
                        <th><h1>Edit</h1></th>
                        <th><h1>Delete</h1></th>
                    }
                </tr>
            </thead>
            
            @if (!Model.Times.Any())
            {
                <div>
                    <h1>There are no times to display</h1>
                </div>
            }
            else
            {
                @foreach (var time in Model.Times)
                {
                    if (time.UserEmail == User.Identity.Name)
                    {
                        <tbody>
                            <tr>
                                <td>@time.UserEmail</td>
                                <td>@time.ClockIn</td>
                                <td>@time.ClockOut</td>
                                <td>@time.Date.ToString("d")</td>
                                <td>@time.HoursWorked()</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td><a asp-action="Edit" asp-route-id="@time.Id" class="btn btn-primary">Edit</a></td>
                                    <td><a asp-action="Delete" asp-route-id="@time.Id" class="btn btn-danger">Delete</a></td>
                                }
                            </tr>
                        </tbody>
                        
                    }

                    else
                    {
                        <div>
                            <h1>There are no times to display</h1>
                        </div>
                    }
                }
            }

        </table>
    </div>
</div>


